@page "/colours/create"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Colours</h3>
<hr />
<br />
<EditForm Model="Colour" OnValidSubmit="CreateColours">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label>Name: </label>
        <div>
            <InputText @bind-Value="Colour.Name" class="form-control" />
            <ValidationMessage For="() => Colour.Name" />
        </div>
    </div>
    <button type="submit" class="btn btn-success btn-block">Create Colour</button>
</EditForm>


@code {
    Colour Colour = new Colour();

    protected async override Task OnInitializedAsync()
    {
    }

    private async Task CreateColours()
    {
        await _client.PostAsJsonAsync(Endpoints.Colours, Colour);
        _navManager.NavigateTo("/colours/");
    }

}
