@attribute [Route("/" + PagePath.Colours)]
@attribute [Authorize]

<h3 class="card-title">Colours</h3>

<a href="@PagePath.Colours/create" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Create New Color
</a>

<hr />
<br />
@if (Model == null)
{
    <div class="alert alert-info">Loading Colours...</div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var colour in Model)
            {
                <tr>
                    <td>@colour.Name</td>
                    <td>
                        <a href="/@PagePath.Colours/view/@colour.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/@PagePath.Colours/edit/@colour.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="() => Delete(colour.Id)">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {

}
