<h3 class="card-title">@Title</h3>
<hr />
<br />

<EditForm Model="Make" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label>Make name: </label>
        <div>
            <InputText @bind-Value="Make.Name" class="form-control" />
            <ValidationMessage For="() => Make.Name" />
        </div>
    </div>
    <button type="submit" class="btn btn-success btn-block">@ButtonText</button>
    <BackToList Target="@PagePath.Makes" />
</EditForm>

@code {
    [Parameter] public Make Make { get; set; }
    [Parameter] public string Title { get; set; } = "Form";
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
