@attribute [Route("/" + PagePath.Makes)]
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]

<h3 class="card-title">Car Makes</h3>

<a href="@PagePath.Makes/create" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Create New Make
</a>

<hr />
<br />
@if (Model == null)
{
    <div class="alert alert-info">Loading Makes...</div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var make in Model)
            {
                <tr>
                    <td>@make.Name</td>
                    <td>
                        <a href="@PagePath.Makes/view/@make.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="@PagePath.Makes/edit/@make.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="() => Delete(make.Id)">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private List<Make> Model;

    protected async override Task OnInitializedAsync()
    {
        Model = await _client.GetFromJsonAsync<List<Make>>(ApiEndpoints.Makes);
    }

    async Task Delete(int id)
    {
        var make = Model.First(m => m.Id == id);

        var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {make.Name}?");

        if (confirm)
        {
            await _client.DeleteAsync($"{ApiEndpoints.Makes}/{id}");
            await OnInitializedAsync();
        }
    }

}
