<h3 class="card-title">@Title</h3>
<hr />
<br />

<EditForm Model="Model" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <fieldset disabled="@Disabled">
        <div class="form-group">
            <label>Model name: </label>
            <div>
                <InputText @bind-Value="Model.Name" class="form-control" />
                <ValidationMessage For="() => Model.Name" />
            </div>
        </div>
    </fieldset>
    @if (!Disabled)
    {
        <button type="submit" class="btn btn-success btn-block">@ButtonText</button>
    }
    <BackToList Target="@PagePath.Models" />
</EditForm>

@code {
    [Parameter] public Model Model { get; set; }
    [Parameter] public string Title { get; set; } = "Form";
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
    [Parameter] public bool Disabled { get; set; } = false;
}
